body
{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    font-family: 'Montserrat', sans-serif;
    background: #262626;
}

nav{
    width: 100%; height: 100px;
    /*background-color:  red;*/
    display: flex; color: white;
    
}

.logo{
    width: 50%;
    height: 100px;
}

.logo h1{
    line-height: 100px;
    padding-left: 50px;
}

.menu{
    width: 50%; height: 100px;
}

.menu ul{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:  center;
}
.menu ul li{
text-decoration: none;
color: #fff;
padding: 5px 20px;
border: 1px solid transparent;
transition: 0.6s ease;
}

.menu ul li a
{
text-decoration: none;
color: #fff;
padding: 5px 20px;
border: 1px solid transparent;
transition: 0.6s ease;

}
.menu ul li a:hover
{
    transform: scale(1);
    background-color: #fff;
    color:  #000;
}
.menu ul li{
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;


}
.test
{
    margin:200px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap:10px;

}

.test .card
{
    position: relative;
    width:350px;
    margin: 0 auto;
    background:#333;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    overflow: hidden;
}
.test .card .layer
{
    position: absolute;
    top:100%;
    left: 0;
    width : 100%;
    height: 100%;
    background:linear-gradient(rgb(248, 0, 54),#0003c5);
    z-index: 1;
    transition: 0.5s;

}
.test .card:hover .layer
{
    top: 0;
}
.test .card .content
{
    z-index: 2;
    position: relative;
}
.test .card .content p
{
    font-size:18px;
    line-height:24px;
    color:#fff;
    font-family:
}
.test .card .content image
{
    width:100px;
    height: 100px;
    margin:0 auto;
    border-radius: 50%;
    overflow: hidden;
    border:4px solid #000;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}